{% extends "base.html" %}
{% block starts %}
<!-- <h1>Recipes</h1> -->


<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Add your Recipe</h2>
        <hr>
        <div class="mb-3">
            <label class="form-label">Recipe Name</label>
            <input name="recipe_name" required type="text" id="form-control">            
        </div>
        <div class="mb-3">
            <label class="form-label">Recipe Description</label>
            <textarea name="recipe_description" required class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Recipe Image</label>
            <input name="recipe_image" type="file" class="form-control">
        </div>

        <button type="submit" class="btn btn-success">Add Recipe</button>        
    </form>     
<hr>
    <div class="mt-5">
        <div class="mx-auto col-6">
            <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Search Food</label>
                <input name="search" value="{{recipe.recipe_name}}" type="text" id="form-control">            
                
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        </div>
    </div>

    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Recipe Name</th>
                <th scope="col">Recipe Description</th>
                <th scope="col">Recipe Image</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{recipe.recipe_name}}</td>
                <td>{{recipe.recipe_description}}</td>
                <td><img src="{{recipe.recipe_image.url}}" alt="" style="width: 100px; height: auto;"></td>
                <td>
                    <a href="/delete-recipe/{{recipe.id}}/" class="btn btn-danger">Delete</a>
                    <a href="/update-recipe/{{recipe.id}}/" class="btn btn-warning">Update</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>


{% endblock %}