
    <h4>Getting data from backend</h4>
    <a href="/contact/">Contact Page</a>
    |
    <a href="/about/">About Page</a>
    <table>
        <tr>
          <th>S. No</th>
          <th>Name</th>
          <th>Age</th>
          <th>Can Vote</th>
        </tr>
        
        {% for people in peoples %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{people.name}}</td>
          <td>{{people.age}}</td>
          <td>
            {% if people.age > 17 %}
            👍
            {% else %}
            👎
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>

      <p>
        {% if "brinjal" in vegetables %}
            Yes, It is Available
        {% else %}
            Nayy, It is Not Available
        {% endif %}
      </p>